#content{
    margin: 0%;
    padding: 0%;
    background-image: url(nafinia-putra-Kwdp-0pok-I-unsplash.jpg)  ;
    background-attachment: fixed;
    background-repeat: no-repeat ;
 
    
}

.navbar{
    background-color: rgb(255, 255, 255);
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    height: 86px;
   
}
.navbar .logo{
    flex-basis: 21%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .title{
    flex-basis: 130%;
    color: rgb(157, 139, 35);
    display: flex;
    align-items: center;
    font-family: "Edu AU VIC WA NT Hand", cursive;

}
.navbar .tabs{
    flex-basis: 69%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.navbar .tabs .tab{
   margin: 5px;
   width: 100%;
}
.navbar .tabs .tab a{
    text-decoration: none;
    color: rgb(157, 139, 35);
}

.checkout-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .product-selection, .product-details, .customer-info, .payment {
    margin-bottom: 20px;
  }
  
  .product-selection select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .product-details img {
    max-width: 200px;
  }
  
  .customer-info label {
    display: block;
    margin-bottom: 5px;
  }
  
  .customer-info textarea {
    width: 100%;
    resize: vertical;
  }
  #footer{

    height: 170px;
    background-color:rgb(250, 235, 215);
    text-align: center;
    display: flexbox;
}
  
  .contact-info {
    display: flex;
    justify-content: space-between;
  }
  
  .find-us, .contact-details {
    text-align: center;
   padding-left: 4px;

  }
  
  .social-icons {
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 20px;
   
   
  }
  
  .social-icons li a {
    color: #333;
    font-size: 20px;
  }
  
  .copyright {
    font-size: 14px;
    color: #888;
    margin-top: 20px;

  }

  