.navbar{
    background-color: rgb(255, 255, 255);
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    height: 86px;
    
}
.navbar .logo{
    flex-basis: 21%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .title {
    flex-basis: 130%;
    color: rgb(157, 139, 35);
    display: flex;
    align-items: center;
    font-family: "Edu AU VIC WA NT Hand", cursive;

}


.navbar .tabs{
    flex-basis: 69%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.navbar .tabs .tab{
   margin: 5px;
   width: 100%;
}
.navbar .tabs .tab a{
    text-decoration: none;
    color: rgb(157, 139, 35);
}
body {
    font-family: serif;
    background-color: #f8f8f8;
    line-height: 1.6;
  }
  
  .menu-container {
    justify-content: space-between;
  }
  
  .menu-item {
    text-align: center;
    padding: 20px;
    display: flex;
  }
  
  img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
  
  .item-details {
    margin-top: 20px;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    color:  rgb(157, 139, 35);
  }
  
  .title {
    font-size: 20px;
    margin-top: 10px;
    color:  rgb(0, 0, 0);
  }
  
  .description {
    font-size: 16px;
    color:  rgb(0, 0, 0);
    margin-top: 20px;
  }
  .menu-container2 {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust spacing as needed */
    padding: 20px;
  }
  
  .menu-item2 {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .price2 {
    font-weight: bold;
    float: right;
    color:  rgb(157, 139, 35);
    
  }
  H1{
    font-size: 30px;
  text-align: center;
    color:  rgb(157, 139, 35);
}
  
  #divider2 {
    border-bottom: 1px solid #c9c022;
    width: 120px;
    margin: 20px auto;
  }
  #footer{

    height: 170px;
    background-color:rgb(250, 235, 215);
    text-align: center;
    display: flexbox;
}
  
  .contact-info {
    display: flex;
    justify-content: space-between;
  }
  
  .find-us, .contact-details {
    text-align: center;
   padding-left: 4px;

  }
  
  .social-icons {
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 20px;
   
   
  }
  
  .social-icons li a {
    color: #333;
    font-size: 20px;
  }
  
  .copyright {
    font-size: 14px;
    color: #888;
    margin-top: 20px;

  }

  
  