@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+BE+VLG:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
#content{
    margin: 0%;
    padding: 0%;
    background-image: url(nafinia-putra-Kwdp-0pok-I-unsplash.jpg)  ;
    background-attachment: fixed;
    background-repeat: no-repeat ;
 
    
}

.navbar{
    background-color: rgb(255, 255, 255);
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    height: 86px;
   position:fixed;
}
.navbar .logo{
    flex-basis: 21%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .title{
    flex-basis: 130%;
    color: rgb(157, 139, 35);
    display: flex;
    align-items: center;
    font-family: "Roboto Mono", monospace;  

}
.navbar .tabs{
    flex-basis: 69%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-family: "Roboto Mono", monospace;
}
.navbar .tabs .tab{
   margin: 5px;
   width: 100%;
}
.navbar .tabs .tab a{
    text-decoration: none;
    color: rgb(157, 139, 35);
}

ul{
    display: flex;
    list-style: none;
}
li{
    font-size: 20px;
}


.carousel-inner{
    position: relative;
    top: 10vw;
}
.carouselExample{
    max-width: 1000%;
    position: relative;
    margin: auto;
}
#container{
    padding-top: 85px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(250, 235, 215);
   }
#quote{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 400px;
    font-family: "Playwrite BE VLG", cursive;
    color: rgb(255, 255, 255);
}

#footer{

    height: 170px;
    background-color:rgb(250, 235, 215);
    text-align: center;
    display: flexbox;
}
  
  .contact-info {
    display: flex;
    justify-content: space-between;
  }
  
  .find-us, .contact-details {
    text-align: center;
   padding-left: 4px;

  }
  
  .social-icons {
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 20px;
   
   
  }
  
  .social-icons li a {
    color: #333;
    font-size: 20px;
  }
  
  .copyright {
    font-size: 14px;
    color: #888;
    margin-top: 20px;

  }

